html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    margin: 0;
}

.flex-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.section {
    background-color: #1F9DDC;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
    color: white;
    padding: 2rem 2rem 1rem 2rem;
    width: 80%;
}

.form-section {
    width: 250px !important;
}

.section-header {
    font-size: 24px;
}

.section-content {
    margin-top: 1rem;
    word-wrap: break-word;
}

.login-header {
    text-align: center;
}

.form-control {
    margin-top: 1rem;
}

.input-control {
    margin: 1rem 0;
}

.input-control > label, .input-control > input {
    display: block;
    width: 100%;
}

.input-control > input, .input-control > button {
    box-shadow: 3px 3px 1px 0px rgba(0,0,0,0.2);
}

.input-control > input {
    border: none;
    height: 28px;
    font-size: 16px;
    margin-top: 4px;
    padding: 1px 0;
}

.input-control > button {
    background-color: #FFC300;
    border: none;
    color: #BA7500;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    width: 100%;
}

#hint {
    color: white;
    text-decoration: underline;
}